header {;
    center;
    border-color: red
    border-radius;
}
main {

}
footer {
}
#dede {
background-color: black;
padding-left: 300px;
}
.one{
font-style: italic;
padding-left: 300px;
}
.two{
font-family: Lobster;
font-size: 30px;
}
