<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новый препорат</title>
</head>
<body>
    <h2>Форма для добваления препарата</h2>
    <form action="/change_result/">
        <label for="rechange"></label>
        <input type="text" id="name" name="name" required autocomplete="off">
        <input type="text" id="manufacturer" name="manufacturer" required autocomplete="off">
        <input type="text" id="form" name="form" required autocomplete="off">
        <input type="text" id="price" name="price" required autocomplete="off">
        <br><br>
        <input type="submit" value="добавить">
    </form>
</body>
</html>
